.header{
    width: 100%;
    height: min-content;
    margin: 0 auto;
    background-color: grey;
    border:2px solid black;
    color: darkred;
    text-align: center;
    vertical-align: middle;
}