<header class="header">
    <h1>Bate-papo</h1> 
</header>
<div class="sectionBatePapo">
    <!-- Área do bate-papo -->
    <div class="divBatePapo">
        <!-- Parte superior (Área do bate-papo) -->
        <div class="divBatePapoConversa">
            <div class="conversas" *ngFor="let mensagem of this.listaMensagensTrocadas">
                <div class="conversaRemetente" *ngIf="mensagem.idUsuarioRemetente == this.usuarioLogado.idUsuario">{{mensagem.mensagem}} #</div>
                <div class="conversaDestinatario" *ngIf="mensagem.idUsuarioRemetente == this.usuarioConversa.idUsuario"># {{mensagem.mensagem}} </div>
            </div>
        </div>
        <!-- Parte inferior (Área da mensagem) -->
        <div class="divBatePapoMensagem">
            <textarea pInputTextarea [(ngModel)]="mensagemTextArea" spellcheck="false" autocomplete="off" class="divBatePapoMensagemTexto"></textarea>

            <button pButton type="button" label="Enviar" (click)="enviarMensagem()" class="p-button-success
            divBatePapoMensagemBotaoEnviar"></button>
            <button pButton type="button" label="Limpar" (click)="limparMensagem()" class="p-button-info divBatePapoMensagemBotaoLimpar"></button>
        </div>
    </div>
    <!-- Área para o gerenciamento de amigos e perfil-->
    <div class="divAmigos">
        <!-- Parte superior -->
        <div class="divAmigosLista">
            <div class="divAmigosListaTitulo">
                <h3>Lista de amigos</h3>
            </div>
            <div class = "divAmigosListaSelecionado">
                <div *ngFor="let amigo of this.listaAmigosDoUsuario">
                    <button type="button" class="divAmigosListaSelecionadoOpcoes" (click)="amigoSelecionado(amigo.idUsuario)">{{amigo.nome}}</button>
                </div>
            </div>
            <!-- Botão para ir ao perfil do usuário -->
            <button pButton type="button" label="Perfil" icon="pi pi-user" class="p-button-danger" style="width: 100%;height: 10%;border-radius: 0px;" (click)="perfil()"></button>          
        </div> 
        <!-- Parte inferior -->
        <div class="divAmigosGerenciamento">
            <input class="divAmigosGerenciamentoNome" type="text" pInputText [(ngModel)]="nomeUsuarioGerenciamento" spellcheck="false" autocomplete="off"/>
            <div class="divAmigosGerenciamentoNomeBotao">
                <button pButton type="button" icon="pi pi-check" class="p-button-success divAmigosGerenciamentoNomeBotaoAdicionar" (click)="adicionarAmigo()"></button>
                <button pButton type="button" icon="pi pi-times" class="p-button-danger divAmigosGerenciamentoNomeBotaoDeletar" (click)="deletarAmigo()"></button>
            </div>
        </div>
    </div>
</div>