<header class="header">
   <h1>Bate-papo</h1>
</header>
<div class="sectionBatePapo">
    <!-- Área do bate-papo -->
    <div class="divBatePapo">
        <!-- Parte superior (Área do bate-papo) -->
        <div class="divBatePapoConversa">
            <h1>Área do bate-papo</h1>
        </div>
        <!-- Parte inferior (Área da mensagem) -->
        <div class="divBatePapoMensagem">
            <textarea pInputTextarea [(ngModel)]="mensagemTextArea" class="divBatePapoMensagemTexto"></textarea>

            <button pButton type="button" label="Enviar" (click)="enviarMensagem()" class="p-button-success
            divBatePapoMensagemBotaoEnviar"></button>
            <button pButton type="button" label="Limpar" (click)="limparMensagem()" class="p-button-info divBatePapoMensagemBotaoLimpar"></button>
        </div>
    </div>
    <!-- Área para o gerenciamento de amigos -->
    <div class="divAmigos">
        <!-- Parte superior augusto.meine@gmail.com-->
        <div class="divAmigosLista">
            <h3 class="divAmigosListaTitulo">
                Lista de amigos
            </h3>
            <div class = "divAmigosListaSelecionado">
                <div *ngFor="let amigo of this.listaAmigosDoUsuario">
                    <button type="button" class="divAmigosListaSelecionadoOpcoes" (click)="amigoSelecionado(amigo.idUsuario)">{{amigo.nome}}</button>
                </div>
            </div>            
        </div> 
        <!-- Parte inferior -->
        <div class="divAmigosGerenciamento">
            <input class="divAmigosGerenciamentoNome" type="text" pInputText [(ngModel)]="nomeUsuarioGerenciamento" autocomplete="off"/>
            <div class="divAmigosGerenciamentoNomeBotao">
                <button pButton type="button" icon="pi pi-check" class="p-button-success divAmigosGerenciamentoNomeBotaoAdicionar" (click)="adicionarAmigo()"></button>
                <button pButton type="button" icon="pi pi-times" class="p-button-danger divAmigosGerenciamentoNomeBotaoDeletar" (click)="deletarAmigo()"></button>
            </div>
        </div>
    </div>
</div>