<header class="header">
    <h1>Login</h1>
</header>

<div class="sectionLogin">
    <div class="divLogin">
        <div class="p-field p-grid">
            <label for="email" class="p-col-fixed" style="width:100px" spellcheck="false" autocomplete="off">E-mail</label>
            <div class="p-col">
                <input id="email" type="text" pInputText [(ngModel)]="email"> 
            </div>
        </div>

        <div class="p-field p-grid">
            <label for="senha" class="p-col-fixed" style="width:100px" spellcheck="false" autocomplete="off">Senha</label>
            <div class="p-col">
                <input id="senha" type="password" pInputText [(ngModel)]="senha"> 
            </div>
        </div>
        <br>
        <button pButton type="button" label="LOGAR" (click)="verificarLogin()"></button> 
        <button pButton type="button" routerLink="Cadastro" label="CADASTRO"></button><br><br>
    </div>
</div>