<header class="header">
    <h1>Cadastro</h1>
</header>

<div class="sectionCadastro">
    <div class="divCadastro">
        <div class="p-field p-grid">
            <label for="nome" class="p-col-fixed" style="width:100px">Nome</label>
            <div class="p-col">
                <input id="nome" type="text" pInputText [(ngModel)]="nome" spellcheck="false" autocomplete="off"> 
            </div>
        </div>

        <div class="p-field p-grid">
            <label for="email" class="p-col-fixed" style="width:100px">E-mail</label>
            <div class="p-col">
                <input id="email" type="email" pInputText [(ngModel)]="email" spellcheck="false" autocomplete="off"> 
            </div>
        </div>

        <div class="p-field p-grid">
            <label for="senha" class="p-col-fixed" style="width:100px">Senha</label>
            <div class="p-col">
                <input id="senha" type="password" pInputText [(ngModel)]="senha" spellcheck="false" autocomplete="off"> 
            </div>
        </div>

        <br>
        <button pButton type="button" label="CADASTRAR" (click)="adicionaUsuario()"></button>
        <button pButton type="button" label="VOLTAR" routerLink=""></button>
    </div>
</div>
