<header class="header">
    <h1>Perfil</h1>
</header>

<div class="sectionCadastro">
    <div class="divCadastro">
        <div class="p-field p-grid">
            <label for="nome" class="p-col-fixed" style="width:100px">Nome</label>
            <div class="p-col">
                <input [disabled]="!atualizando" id="nome" type="text" pInputText [(ngModel)]="nome" spellcheck="false" autocomplete="off"> 
            </div>
        </div>

        <div class="p-field p-grid">
            <label for="email" class="p-col-fixed" style="width:100px">E-mail</label>
            <div class="p-col">
                <input [disabled]="!atualizando" id="email" type="email" pInputText [(ngModel)]="email" spellcheck="false" autocomplete="off"> 
            </div>
        </div>

        <div class="p-field p-grid">
            <label for="senha" class="p-col-fixed" style="width:100px">Senha</label>
            <div class="p-col">
                <input [disabled]="!atualizando" id="senha" type="password" pInputText [(ngModel)]="senha" spellcheck="false" autocomplete="off"> 
            </div>
        </div>

        <br>
        <button pButton type="button" label="{{primeiroBotao}}" (click)="primeiroBotaoFuncao()"></button>
        <button pButton type="button" label="{{segundoBotao}}" (click)="segundoBotaoFuncao()"></button>
        <br>
        <button *ngIf="!this.atualizando" pButton type="button" label="SAIR" (click)="this.deslogar()"></button>
        <button *ngIf="!this.atualizando" pButton type="button" label="RETORNAR" (click)="this.batePapo()"></button>
        <br>
    </div>
</div>
